section#inviteDlg.hide
    p 承諾してクランに参加しますか？
    section.btn_area
        button.btn-agree
            include ../loader
            | 承認
        button.btn-disagree
            include ../loader
            | 拒否
        button.btn-cancel
            | 後にする
