img.loader(src=constant.img_path + 'circular_20x20.gif' alt='更新中')
span.success
    img(src=constant.img_path + 'success.png' alt='更新成功')
span.fail
    img(src=constant.img_path + 'fail.png' alt='更新失敗')