doctype 5
html
    head(lang="ja")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/stylesheets/base.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/common.css', type='text/css')
        link(rel='stylesheet', href='https://cdn.quilljs.com/1.3.6/quill.snow.css', type='text/css')
        script(src="//code.jquery.com/jquery-1.12.4.js")
        script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://cdn.quilljs.com/1.3.6/quill.js")
        script(src="/javascripts/jquery.ba-hashchange.js")
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/lib/datepicker-ja.js")
        script(src="/javascripts/lib/serviceLocator.js")
        script(src="/javascripts/SearchData.js")
        script(src="/javascripts/Routine.js")
        script(src="/javascripts/utils.js")
        script(src="/javascripts/Const.js")
        script(src="/javascripts/BaseAjax.js")
        script(src="/javascripts/Validation.js")
        script(src="/javascripts/searchArea.js")
        script(src="/javascripts/lib/dragAndDropHandler.js")
        script(src="/javascripts/app.js")
        script(src="/javascripts/controllers/controller.js")
        script(src="/javascripts/controllers/homeController.js")
        script(src="/javascripts/controllers/projectController.js")
        script(src="/javascripts/controllers/clanController.js")
        script(src="/javascripts/controllers/inviteController.js")
        //- script(src="/javascripts/Ticket/TicketLoader.js")
        script(src="/javascripts/Ticket/TicketList.js")
        script(src="/javascripts/Ticket/TicketUpdate.js")
        script(src="/javascripts/Ticket/TicketCreate.js")
        //- script(src="/javascripts/ClanLoader.js")
        script(src="/javascripts/ClanProfile.js")
        //- script(src="/javascripts/Invite.js")
        script(src="/javascripts/Validation/LiveValidation.js")
        script(src="/javascripts/Validation/ClanValidation.js")
        script(src="/javascripts/Validation/ProjectValidation.js")
        script(src="/javascripts/Validation/GameTitleValidation.js")
        script(src="/javascripts/Validation/TicketValidation.js")
        script(src="/javascripts/Validation/FightTicketValidation.js")
        script(src="/javascripts/Validation/WorkTicketValidation.js")
        script(src="/javascripts/Validation/NotificationTicketValidation.js")
        script(src="/javascripts/sidebar.js")
    body
        block content
